body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo{
  font-weight: bold;
  font-size: 1.5em;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

header nav a:hover {
    text-decoration: underline;
}

main {
  padding: 2em;
  max-width: 800px;
  margin: 2em auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero{
    background-color: #ddd;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 20px;
}
.services ul {
    list-style: none;
    padding: 0;
}

.services ul li {
    margin-bottom: 10px;
}

.services ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.services ul li a:hover{
    text-decoration: underline;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}